:root {
    --text-color: #fff;
    --text: #CEC0E0;
    --text-color: white;
    --text-gray: #FEFEFE;
    --text-heading-gray: #D0D0F7;
    --bg-color: #1b1f24;
    --bgi-color: #010001;
    --second-bg-color: #22282f;
    --secondi-bg-color: #2d2d2d;
    --secondafter-bg-color: #383738;
    --background: #EDF0F9;
    --body-background: #1F192D;
    --widget-background: #3A2D54;
    --main-color: aqua;
    --man-color: #13bbff;
    --other-color: #c3cad5;
    --white: white;
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --border: #aabfff;
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
    --white: #FFF;
    --gray: #363638;
    --gray-mid: #9D9D9D;
    --gray-dark: #3e3e3e;
    --gray-hover: #F7F7F7;
    --primary: #2E31A6;
    --primary: #8543CC;
    --primary-border: #42375d;
    --body-font: "Montserrat", sans-serif;
    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
    --font-regular: 400;
    --header-height: 3.5rem;
    --font-semi-bold: 600;
    --normal-font-size: .938rem;
    --z-tooltip: 10;
    --z-fixed: 100;
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body {
    color: var(--text-color);
    background: var(--bg-color);
}
/* navbar start */  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /* -webkit-tap-highlight-color: transparent; */
  }
  
  a {
    text-decoration: none;
    font-size: 1.25rem;

  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
}
.nav {
    height: var(--header-height);
  }
  
.nav__logo, 
.nav__burger, 
.nav__close {
    color: var(--white-color);
}
  
.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}
  
.nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
  
.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}
  
.nav__burger, 
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}
  
.nav__close {
    opacity: 0;
}
  
/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
.nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
   }
.nav__menu::-webkit-scrollbar {
    width: 0;
   }
    .nav__list {
      background-color: var(--bg-color);
      padding-top: 1rem;
    }
}
  
.nav__link {
    color: var(--white-color);
    background-color: var(--bg-color);
    font-weight: var(--font-semi-bold);
    font-size: 1rem;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
    /* animation: slideBottom 2s ease forwards; */
    /* animation-delay: .7s; */
}
  
.nav__link:hover {
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
  
/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}
  
/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}
.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}
  
/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
}
  
.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}
  
.dropdown__link, 
.dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    font-size: 1rem;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
  }
  
.dropdown__link i, 
.dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
}
  
.dropdown__link:hover, 
.dropdown__sublink:hover {
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
  
.dropdown__menu, 
.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}
  
/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}
  
/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}
  
  /*=============== DROPDOWN SUBMENU ===============*/
  .dropdown__add {
    margin-left: auto;
  }
  
  .dropdown__sublink {
    background-color: var(--bg-color);
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .nav__link {
      padding-inline: 1rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1118px) {
    .container {
      margin-inline: auto;
    }
  
    .nav {
      height: calc(var(--header-height) + 2rem);
      display: flex;
      justify-content: space-between;
    }
    .nav__toggle {
      display: none;
    }
    .nav__list {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }
    .nav__link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: .25rem;
    }
    .nav__link:hover {
      background-color: transparent;
    }
  
    .dropdown__item, 
    .dropdown__subitem {
      position: relative;
    }
  
    .dropdown__menu, 
    .dropdown__submenu {
      max-height: initial;
      overflow: initial;
      position: absolute;
      left: 0;
      top: 6rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s, top .3s;
    }
  
    .dropdown__link, 
    .dropdown__sublink {
      padding-inline: 1rem 3.5rem;
    }
  
    .dropdown__subitem .dropdown__link {
      padding-inline: 1rem;
    }
  
    .dropdown__submenu {
      position: absolute;
      left: 100%;
      top: .5rem;
    }
  
    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
      opacity: 1;
      top: 5.5rem;
      pointer-events: initial;
      transition: top .3s;
    }
  
    /* Show dropdown submenu */
    .dropdown__subitem:hover > .dropdown__submenu {
      opacity: 1;
      top: 0;
      pointer-events: initial;
      transition: top .3s;
    }
  }  
/* navbar end */

/* home start */
.home {
    background-color: var(--bg-color);
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: 20px;
    margin-top: 2px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: .3s;
}
.home-content h1 {
    color: var(--main-color);
}
.home-content h1:nth-of-type(2) {
    margin-bottom: 30px;
}  
.home-content h1 {
    color: var(--main-color);
    font-size: 20px;
}
.home-content h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: var(--bg-color) ;
    height: 100%;
    width: 100%;
    animation: 4s steps(100) infinite Animation;
    border-left: aqua;
}
.home-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    transition: background-color .3s;
}
.home-content p {
    margin-top: 2px;
    font-size: 20px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: all .50s ease;
}
.home-sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 20px;
    font-size: 16px;
    margin-top: 20px;
    color: var(--bg-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: all .50s ease;
}
.btn-box:hover {
    box-shadow: 0 0 5px var(--main-color), 0 0 25px var(--main-color);
}
/* home end */  
/* about start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.about-container {
    display: flex;
    background: var(--second-bg-color);
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.profile-card {
    background: #111;
    width: 400px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 5rem;
    /* animation: slideRight 4s ease forwards; */
    /* animation-delay: .15s; */
}
.profile-card .profile-pic {
    margin-top: 15px;
    overflow: hidden;
}
.profile-card .profile-pic img {
    width: 250px;
    border-radius: 10px;
}
.profile-card .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.profile-details .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-details .intro h3 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}
.profile-details .intro h1 {
    background: #1d1d1d;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
}
.profile-details .intro .about-sci {
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-details .intro .about-sci i {
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.profile-details .intro .about-sci i:hover {
    transform: scale(1.2);
    border: 1px solid rgba(225,225,225,0.3);
}
.profile-details .contact-info {
    background: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.profile-details .contact-info .row-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(225,225,225,0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}
.contact-info .row-contact .icons {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.row-contact .icons:hover {
    transform: scale(1.2);
    border: 1px solid rgba(225,225,225,0.1);
}
.row-contact .content-info {
    min-width: 70%;
}
.row-contact .content-info span {
    font-size: 12px;
    font-weight: 300;
}
.about {
    background-color: #111;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
    margin-top: 1rem;
    /* animation: slideBottom 4s ease forwards; */
    /* animation-delay: .15s; */
}
.about h1 {
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 45px;
}
.about h1::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: var(--second-bg-color);
}
.about h2 {
    color: #f2f2f2;
    font-size: 30px;
    margin: 0.5rem 0;
}
.about p {
    color: #555;
    margin: 1.5rem 0;
}
.about .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.work .workbox {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 1rem;
    margin: 1rem;
}
.work .workbox .icon {
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.work .workbox .icon:hover {
    transform: scale(1.2);
    border: 1px solid rgba(225,225,225,0.3);
    background: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--main-color);
}
.work .workbox .desc {
    width: 75%;
    color: #555;
}
.work .workbox .desc h3 {
    color: #f2f2f2;
    margin-bottom: 3px;
}
.work .workbox .desc p {
    margin: 0px;
}
/* responsive about */
@media(max-width:768px)
{
    .about {
        width: 1005;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;
    }
    .about h1 {
        font-size: 2.2rem;
    }
    .about .work {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, auto);
    }
}
/* about end */
/* skills start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
#skills {
    width: 100%;
    height: 100%;
    padding: 80px 13%;
    background-color: var(--bg-color);
}
.skill-head {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skill-head h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 8px;
    /* animation: slideBottom 4s ease forwards; */
    /* animation-delay: .15s; */
}
.skill-haed h2 span {
    color: var(--main-color);
}
.skill-head p {
    font-size: 32px;
}
.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}
.skill-main .skill-bar .skill-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .skill-info .percent {
    font-weight: bold;
}
.skill-bar .bar-skill {
    width: 100%;
    height: 10px;
    position: relative;
    background-color: #111;
    border-radius: 25px;
    margin-top: 5px;
}
.skill-bar .bar-skill span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: aqua;
    border-radius: 25px;
}
.skill-bar .bar-skill .Photographer {
    width: 90%;
    animation: pho 3s;
}
@keyframes pho {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
.skill-bar .bar-skill .Web-Developer {
    width: 65%;
    animation: web 3s;
}
@keyframes web {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}
.skill-bar .bar-skill .Desaigner {
    width: 42%;
    animation: des 3s;
}
@keyframes des {
    0% {
        width: 0;
    }
    100% {
        width: 42%;
    }
}
.skill-bar .bar-skill .Editing {
    width: 70%;
    animation: edi 3s;
}
@keyframes edi {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
.skill-bar .bar-skill .Crative {
    width: 65%;
    animation: cre 3s;
}
@keyframes cre {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}
.skill-bar .bar-skill .Communication {
    width: 40%;
    animation: com 3s;
}
@keyframes com {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}
.skill-bar .bar-skill .Problem-Solving {
    width: 78%;
    animation: pro 3s;
}
@keyframes pro {
    0% {
        width: 0;
    }
    100% {
        width: 78%;
    }
}
.skill-bar .bar-skill .Teamwork {
    width: 82%;
    animation: tea 3s;
}
@keyframes tea {
    0% {
        width: 0;
    }
    100% {
        width: 82%;
    }
}
.widget {
    border-radius: 15px;
    background-color: #111;
    padding: 16px;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    min-width: 300px;
}

.widget canvas {
    min-height: 280px;
}
.widget .wit h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}
.containerisw {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.containerisw .progressss {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background: var(--second-bg-color) linear-gradient(to right, transparent 50%, var(--clr) 0);
}
  
.containerisw .progressss h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
}
  
.containerisw .progressss h3 span {
    font-size: 0.65em;
    font-weight: 400;
}
.containerisw .progressss h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}
  
.containerisw .progressss::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
  
.containerisw .progressss::after {
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: var(--bg-color);
}
  
.containerisw .progressss::before {
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn )));
}
  
  /* if value is less than 50%, then */
  
  .containerisw .progresss.less::before {
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn )));
  }
.widgets {
    border-radius: 15px;
    background-color: #111;
    padding: 16px;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    min-width: 300px;
}
.widgets canvas {
    min-height: 280px;
}
.widgets .wi h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}
.containeris {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.containeris .progresss {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background: var(--second-bg-color) linear-gradient(to right, transparent 50%, var(--clr) 0);
}
  
.containeris .progresss h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
}
  
.containeris .progresss h3 span {
    font-size: 0.65em;
    font-weight: 400;
}
.containeris .progresss h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}
  
.containeris .progresss::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
  
.containeris .progresss::after {
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: var(--bg-color);
}
  
.containeris .progresss::before {
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn )));
}
  
  /* if value is less than 50%, then */
  
  .containeris .progresss.less::before {
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn )));
  }
/* skills end */
/* servies start */
.services {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--second-bg-color);
    justify-content: center;
    align-items: center;
}
.sercontainers {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.serv h2 {
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}
.sercontainers .sercard {
    position: relative;
}
.sercontainers .sercard .face {
    width: 300px;
    height: 200px;
    transition: .4s;
}
.sercontainers .sercard .face.face1 {
    position: relative;
    background: #111;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.sercontainers .sercard:hover .face.face1 {
    background: #111;
    transform: translateY(0);
}
.sercontainers .sercard .face.face1 .contentser {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}
.sercontainers .sercard:hover .face.face1 .contentser {
    opacity: 1;
}
.sercontainers .sercard .face.face1 .contentser i {
    font-size: 3em;
    color: white;
    display: inline-block;
}
.sercontainers .sercard .face.face1 .contentser h3 {
    font-size: 1em;
    color: white;
    text-align: center;
    font-family: consolas;
}
.sercontainers .sercard .face.face1 .conser a {
    transition: .5s;
}
.sercontainers .sercard .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.sercontainers .sercard:hover .face.face2 {
    transform: translateY(0);
}
.sercontainers .sercard .face.face2 .conser p, a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #1b1f24;
} 
.sercontainers .sercard .face.face2 .conser a {
    text-decoration: none;
    color: #111;
    box-sizing: border-box;
    outline: 1px solid #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}
.sercontainers .sercard .face.face2 .conser a:hover {
    background: #333;
    color: white;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/* services end */
/* project start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.project h2 {
    margin-top: 1px;
    font-size: 40px;
    text-align: center;
}
.project {
    width: 100%;
    height: 100%;
    padding: 80px 13%;
    background: var(--bg-color);
    padding: 100px 0px;
}
.pro-head p {
    text-align: center;
    font-size: 32px;
}
.project {
    position: relative;
}
.project::before, .project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
  
.project-container .project-card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
  
.project-container .project-card .pro-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
  
.project-container .project-card:hover .pro-content {
    opacity: 1;
    transform: translateY(-20px);
}
  
.project-container .project-card .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid  #111;
}
  
.project-container .project-card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.project-container .project-card .content-project h3 {
    color: #fff;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
  
.project-container .project-card .content-project span {
    font-size: 13px;
    font-family: monospace;
    font-weight: 300;
    text-transform: initial;
}
/* project end */
/* sertfikat start */
.sertifikat{
    display: flex;
    padding: 0 35px;
    min-height: 100vh;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background: var(--second-bg-color);
  }
  .sertifikat h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
  .wrapper{
    display: flex;
    margin-top: 2rem;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #111;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: var(--bg-color);
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(auto / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }
/* sertifikat end */
/* gallery start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    width: 100%;
    height: auto;
    padding: 80px 13%;
    background: var(--bg-color);
    background-size: cover;
}

.gallery-text h2 {
    margin-top: 2rem;
    font-size: 40px;
    text-align: center;
}

.gallery-text p {
    text-align: center;
    font-size: 32px;
    color: var(--main-color);
}

.box {
    display: flex;
    background-color: #111; 
    margin: 2rem 5px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 97%;
    height: auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 1rem;
    box-shadow: 0 0 20px #111;
    scroll-snap-type: x mandatory;
    overflow: -moz-hidden-unscrollable;
    border-radius: 10px;
}

.box::-webkit-scrollbar {
    width: 0;
}

.box .background img {
    display: block;
    width: 250px;
    height: 400px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.box .background { 
    scroll-snap-align: start;
    width: 250px;
    height: 400px;
    user-select: none;
    pointer-events: none;
    box-shadow: var(--bg-color);
}

.card {
    scroll-snap-align: start;
    height: 250px;
    width: 250px;
}
/* Gallery end */
/* learning start*/
/* about start */
.aboutm-container {
    display: flex;
    background: var(--second-bg-color);
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.profile-card {
    background: #111;
    width: 400px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.profile-card .profile-pic {
    margin-top: 15px;
    overflow: hidden;
}
.profile-card .profile-pic img {
    width: 250px;
    border-radius: 10px;
}
.profile-card .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.profile-details .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-details .intro h3 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}
.profile-details .intro h1 {
    background: #1d1d1d;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
}
.profile-details .intro .about-sci {
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-details .intro .about-sci i {
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.profile-details .intro .about-sci i:hover {
    transform: scale(1.2);
    border: 1px solid rgba(225,225,225,0.3);
}
.profile-details .contact-info {
    background: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.profile-details .contact-info h5 {
    color: white;
    font-size: 14px;
}
.profile-details .contact-info .row-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(225,225,225,0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}
.contact-info .row-contact .icons {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.row-contact .icons:hover {
    transform: scale(1.2);
    border: 1px solid rgba(225,225,225,0.1);
}
.row-contact .content-info {
    min-width: 70%;
}
.row-contact .content-info span {
    font-size: 12px;
    font-weight: 300;
}
.about {
    background-color: #111;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.about h1 {
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}
.about h1::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: var(--second-bg-color);
}
.about h2 {
    color: #f2f2f2;
    font-size: 2rem;
    margin: 0.5rem 0;
}
.about p {
    color: #555;
    margin: 1.5rem 0;
}
.about .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.work .workbox {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 1rem;
    margin: 1rem;
}
.work .workbox .icon {
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.work .workbox .icon:hover {
    transform: scale(1.2);
    border: 1px solid rgba(225,225,225,0.3);
    background: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--main-color);
}
.work .workbox .desc {
    width: 75%;
    color: #555;
}
.work .workbox .desc h3 {
    color: #f2f2f2;
    margin-bottom: 3px;
}
.work .workbox .desc p {
    margin: 0px;
}
/* responsive about */
@media(max-width:768px)
{
    .about {
        width: 1005;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;
    }
    .about h1 {
        font-size: 2.2rem;
    }
    .about .work {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, auto);
    }
}
/* about end */
/* unpam start */
.unpam {
    box-sizing: border-box;
    background-color: var(--bg-color);
    overflow: hidden;
}
.unpamheading h1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 90px;
}
.unpamcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-contentunpam {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hero-contentunpam h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-contentunpam p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}
.hero-contentunpam button {
    display: inline-block;
    background-color: var(--main-color);
    color: #111;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-contentunpam button:hover {
    background-color: #111;
    color: var(--main-color);
    transform: scale(1.1);
}
.hero-imageunpam {
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
.hero-imageunpam img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* upam end */
/* video start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.ksi {
    background: var(--second-bg-color);
    width: 100%;
    padding: 100px 0px;
}
.ksi h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 8px;
}
.ksi span {
    color: var(--main-color);
}
.video_me {
    display: flex;
    justify-content: center;
    padding: 20px 20% 0;
}
.video_me video {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 10%;
    margin-bottom: 2rem;
}
/* video end */
/* music start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.35s linear;
}
.musik {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.player {
    width: 640px;
    background: #111;
    box-shadow: 0 0 20px  var(--main-color);
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 15px;
    padding: 8px 24px;
    position: relative;
    border-radius: 65px;
}
.controli,#currenti {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}
#playbtna {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main-color);
    cursor: pointer;
}
#playbtna:hover {
    -webkit-text-fill-color: var(--main-color);
}
.infoisi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}
#currenti {
    text-align: right;
    color: var(--main-color);
}
.bariser {
    --space: -4px;
    background: var(--bg-color);
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}
#progresser {
    display: block;
    width: var(--progress,0%);
    background-color: white;
    transition: all 1s linear;
    height: 100%;
}
/* music end */
/* pti start */
.title-service h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 8px;
}
.accordion {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    padding: 100px 0px;
    margin-bottom: 20px;
    scroll-behavior: smooth;
}
.faq-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 2rem;
}
  
details {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    background: #111;
    border-radius: 8px;
    position: relative;
    max-width: 600px;
    border: 1px solid #1d1d1d;
    transition: all 0.3s ease-in-out;
}
  
details:hover {
    border: 1px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
}
  
  
summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    padding: 1em;
    align-items: center;
}
  
summary:hover .faq-title {
    opacity: 1;
}
  
summary::-webkit-details-marker {
    display: none;
}
  
summary:focus {
    outline: none;
}
  
summary:hover .expand-icon {
    opacity: 1;
}
  
.faq-title {
    color: white;
    width: 90%;
    opacity: 0.65;
    transition: all 250ms ease-in-out;
}
  
.faq-content {
    color: white;
    padding: 0.2rem 1rem 1rem 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.expand-icon {
    opacity: 0.65;
}
  
.expand-icon {
    pointer-events: none;
    position: absolute;
    right: 1em;
    transition: all 150ms ease-out;
}
/* pti end */
/* learning end */
/* footer start*/
:root {
    --primary: #2E31A6;
    --text-color: white;
    --white: white;
    --text-gray: #FEFEFE;
    --text-heading-gray: #D0D0F7;
    --background: #EDF0F9;
    --border: #aabfff;
}
/*? footer reset */
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*? footer containers */
footer {
    bottom: 0px;
    background-color: var(--second-bg-color);
    width: 100%;
    min-width: 300px;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    padding: 16px;
}
.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 4;
    gap: 48px 16px;
}
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 8px 36px 8px;
}
.footer-columns section, 
.footer-columns .footer-logo {
    display: flex;
    flex-direction: column;
    flex: 1 0 160px;
    max-width: 160px;
}
 
.footer-columns ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-weight: 600;
}
.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}
.footer-columns ul a:hover{
    text-decoration: underline;
}
.footer-columns h3 {
    color: aqua;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1rem;
}
.footer-logo {
    display: flex;
    gap: 16px;
    flex-grow: 1;
    max-width: 160px;
    margin-bottom: 2px;
}
.footer-logo svg {
    stroke: var(--text-color);
    stroke-width: 8px;
    width: 50px;
    height: 50px;
}
/*? Footer bottom */
.footer-bottom {
    margin-top: 48px;
    display: flex;
    align-items: end;
    width: 100%;
    gap: 16px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--text-color);
    border-top: 1px solid black;
}
.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
}
.footer-headline > h2 {
    margin: 0px;
    color: var(--text-primary);
}
.footer-headline > p {
    color: var(--text-color);
    margin: 4px 0px 20px 0px;
}
.footer-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-description h3 {
    margin-bottom: 8px;
}
/*? socials */
.social-wrapper {
    display: flex;
    width: 100%;
    gap: 8px;
    padding: 8px 0px;
    justify-content: end;
    margin-bottom: 16px;
    align-items: center;
    color: var(--text-color);
}
.social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}
.social-links img {
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}
.social-links img:hover {
    transform: scale(1.1);
}
.social-links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style-type: none;
}
/*? mobile */
@media (min-width: 926px) {
    .footer-logo {
        margin-right: auto;
    }
}
@media (max-width: 800px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .social-wrapper {
        justify-content: center;
    }
}
/* footer end */
/* responsive */
@media (max-width: 170px) {
    header {
        padding: 20px 8%;
    }
    header.sticky {
        padding: 14px 8%;
    }
    section {
        padding: 90px 8% 80px;
    }
    .footer {
        padding: 18px 8%;
    }
    .logo {
        font-size: 28px;
    }
}

@media (max-width: 138px) {
    .header {
        padding: 20px 5%;
    }
    header.sticky {
        padding: 14px 5%;
    }
    section {
        padding: 90px 5% 80px;
    }
    .footer {
        padding: 18px 5%;
    }
    .hero {
        height: 90vh;
        background-position: center;
    }
}

@media (max-width: 129px) {
    .box {
        padding: 40px 40px 46px;
    }
    .box img {
        width: 100%;
        height: 60px;
        max-width: 60px;
    }
    .box h3 {
        font-size: 21px;
    }
}

@media (max-width: 124px) {
    .about {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    .about-img {

        text-align: center;
        width: 100%;
        height: 400px;
        max-width: 400px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    :root {
        --h1-font: 4.5rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
}

@media (max-width: 950px) {
    :root {
        --h1-font: 3.5rem;
    }
    .social {
        margin-bottom: 20px;
    }
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active {
        display: flex;
        right: 0;
    }
}

@media (max-width: 680px) {
    .main-content p {
        width: 100%;
    }
}

@media (max-width: 470px) {
    :root {
        --h1-font: 3rem;
        --h2-font: 2rem;
    }
    .about-img {
        text-align: center;
        width: 100%;
        height: 300px;
        max-width: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .unpamheading h1 {
        font-size: 45px;
        margin-top: 30px;
    }
    .unpam {
        margin: 0px;
    }
    .unpamcontainer {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hero-contentunpam {
        width: 100%;
        margin: 35px 0px;
    }
    .hero-contentunpam h2 {
        font-size: 30px;
    }
    .hero-contentunpam p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-contentunpam button {
        font-size: 16px;
        padding: 8px 16px;
    }
    .hero-imageunpam {
        width: 100%;
    }
}
/* responsive end */
/* animation */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY (0px);
        opacity: 1;
    }
}
@keyframes Animation {
    100% {
        left: 0;
    }
    40%,60% {
        left: calc(100% + 4px);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
/* animation end */
/* cs scrol start */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient( #111, #111);
    /* border-radius: 10px; */
}
/* cs scrol end */ 
